<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
    <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.572.0.min.js"></script>
    <!-- <script>
      function getHtml(template) {
         return template.join('\n');
      }
      listAlbums();
   </script> -->
</head>
<body>
    <div id="screenshot" style="text-align:center;">
        <video width = "200" height = "150" class="videostream" autoplay></video>
        <img id="screenshot-img">
        <p><button class="capture-button">Capture video</button> <button id="stop-button">Stop</button></p>
    </div>
    <form method="POST" action ="/upload" enctype=multipart/form-data>
        <input id="imgtext" type="text" name="imagecode" style = "visibility: hidden">
        <input id = "uploadimage" type=submit value=Upload style = "visibility: hidden">
    </form>
    <div>
        <p><button id="screenshot-button" disabled>Take screenshot</button></p>
    </div>

    <form action='/face_comparision' method="POST">
        <button name="Rekognization" type="Submit">Recognizing Face</button>
    </form>    
    <script>

        // var url = '/image_link';
        // d3.json(url).then(function(response) {
        // var newsample = response;
        // console.log(newsample);
        // var metadata = d3.select("#sample-metadata").html("");
        // console.log(metadata);
        // Object.entries(newsample).forEach(([key,value])=>{
        //   metadata.append("div").append("b").text(`${key} : ${value}`);
        //   });

          function handleError(error) {
            console.error('navigator.getUserMedia error: ', error);
          }
          const constraints = {video: true};
          
          // (function() {
          //   const video = document.querySelector('#screenshot video');
          //   const captureVideoButton = document.querySelector('#screenshot .capture-button');
          //   let localMediaStream;
          
          //   function handleSuccess(stream) {
          //     localMediaStream = stream;
          //     video.srcObject = stream;
          //   }
          
          //   captureVideoButton.onclick = function() {
          //     navigator.mediaDevices.getUserMedia(constraints).
          //       then(handleSuccess).catch(handleError);
          //   };
          
          //   document.querySelector('#stop-button').onclick = function() {
          //     video.pause();
          //     localMediaStream.stop();
          //   };
          // })();
          
          (function() {
            const captureVideoButton = document.querySelector('#screenshot .capture-button');
            const screenshotButton = document.querySelector('#screenshot-button');
            const img = document.querySelector('#screenshot img');
            const video = document.querySelector('#screenshot video');
            let localMediaStream;
            const canvas = document.createElement('canvas');
          
            captureVideoButton.onclick = function() {
              navigator.mediaDevices.getUserMedia(constraints).
                then(handleSuccess).catch(handleError);
            };

            document.querySelector('#stop-button').onclick = function() {
              video.pause();
              localMediaStream.stop();
            };

            screenshotButton.onclick = video.onclick = function() {
              canvas.width = video.videoWidth;
              canvas.height = video.videoHeight;
              canvas.getContext('2d').drawImage(video, 0, 0);
              
              // Other browsers will fall back to image/png
              img.src = canvas.toDataURL('image/jpg',1.0);
              document.querySelector('#imgtext').setAttribute('value', img.src);
              document.querySelector('#uploadimage').click()
              // var link = document.getElementById('link');
              // link.setAttribute('download', 'imageforrecognition.jpg');
              // link.href = img.src.replace("image/jpg", "image/octet-stream");
              // link.click();
              // console.log(img.src);
              
            };
          
            function handleSuccess(stream) {
              screenshotButton.disabled = false;
              video.srcObject = stream;
            }
          })();

        // var rekognize = document.querySelector('#rekognize-face');
        // rekognize.click() = function(){action='/face_comparision'}

          
//           var albumBucketName = "BUCKET_NAME";
//           var bucketRegion = "REGION";
//           var IdentityPoolId = "IDENTITY_POOL_ID";

//           AWS.config.update({
//           region: bucketRegion,
//           credentials: new AWS.CognitoIdentityCredentials({
//           IdentityPoolId: IdentityPoolId
//           })
//           });

// var s3 = new AWS.S3({
//   apiVersion: "2006-03-01",
//   params: { Bucket: albumBucketName }
// });

// function addPhoto(albumName) {
//   var files = document.getElementById("photoupload").files;
//   if (!files.length) {
//     return alert("Please choose a file to upload first.");
//   }
//   var file = files[0];
//   var fileName = file.name;
//   var albumPhotosKey = encodeURIComponent(albumName) + "//";

//   var photoKey = albumPhotosKey + fileName;

//   // Use S3 ManagedUpload class as it supports multipart uploads
//   var upload = new AWS.S3.ManagedUpload({
//     params: {
//       Bucket: finalprojectawsrekognition,
//       Key: photoKey,
//       Body: file,
//       ACL: "public-read"
//     }
//   });

//   var promise = upload.promise();

//   promise.then(
//     function(data) {
//       alert("Successfully uploaded photo.");
//       viewAlbum(albumName);
//     },
//     function(err) {
//       return alert("There was an error uploading your photo: ", err.message);
//     }
//   );
// }
          </script>
   
    <!-- <video width = "640" height = "480" autoplay></video>
    <img src="">
    <canvas style="display:none;"></canvas>

    <script>
      var errorCallback = function(e) {
        console.log('Reeeejected!', e);
      };
    
      // Not showing vendor prefixes.
      navigator.getUserMedia({video: true, audio: true}, function(localMediaStream) {
        var video = document.querySelector('video');
        video.src = window.URL.createObjectURL(localMediaStream);
    
        // Note: onloadedmetadata doesn't fire in Chrome when using it with getUserMedia.
        // See crbug.com/110938.
        video.onloadedmetadata = function(e) {
          // Ready to go. Do some stuff.
        };
      }, errorCallback);
    </script>



<script>
  var video = document.querySelector('video');
  var canvas = document.querySelector('canvas');
  var ctx = canvas.getContext('2d');
  var localMediaStream = null;

  function snapshot() {
    if (localMediaStream) {
      ctx.drawImage(video, 0, 0);
      // "image/webp" works in Chrome.
      // Other browsers will fall back to image/png.
      document.querySelector('img').src = canvas.toDataURL('image/webp');
    }
  }

  video.addEventListener('click', snapshot, false);

  // Not showing vendor prefixes or code that works cross-browser.
  navigator.getUserMedia({video: true}, function(stream) {
    video.src = window.URL.createObjectURL(stream);
    localMediaStream = stream;
  }, errorCallback);
</script> -->

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
</body>
</html>