<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="keywords" content="HTML5 Template Onepage Ashton" />
    <meta name="description" content="Ashton - One Page Portfolio" />

    <!-- Title  -->
    <title>Visionairies | Machine Learning Project</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <link rel="apple-touch-icon" href="static/img/apple-touch-icon-57x57.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="static/img/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="static/img/apple-touch-icon-114x114.png"
    />

    <!-- Plugins -->
    <link rel="stylesheet" href="static/css/plugins.css" />

    <!-- Core Style static/css -->
    <link rel="stylesheet" href="static/css/style.css" />
  </head>

  <body>
    <!-- Start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- End page loading -->
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg border-none nav-transparent">
      <div
        class="container padding-15px-lr md-padding-15px-lr sm-padding-15px-all"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/face_compare">Facial Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/face_analysis">Facial Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/cvatlarge"
                >Computer Vision at Large</a
              >
            </li>
          </ul>
        </div>
        <!-- end navbar links -->
      </div>
    </nav>
    <!-- End Navbar  -->

    <!-- Start Contact Section -->
    <section class="contact no-padding-bottom" data-scroll-index="4">
      <div
        class="container margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom"
      >
        <div class="row">
          <div
            class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center"
          >
            <h3
              class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title"
            >
              Computer Vision At Large
            </h3>
            <br />
            <p class="font-size20">
              In this section we can see a collection of companies that supply,
              use or create machine vision software for facial and object
              recognition, machine learning and AI. Some of the ways that Facial
              Recognition software is being used today are by law enforcement
              and security agencies, casinos, dating sites, social media to tag
              people automatically, upscale hotels to greet guests on arrival,
              bars and restaurants to pick out underage drinkers, retail stores
              that do real-time sentiment analysis to predict buying behavior.
            </p>
          </div>
        </div>
        <div class="row">
          <div
            class="tableauPlaceholder center-col"
            id="viz1574300699741"
            style="position: relative"
          >
            <noscript
              ><a href="#"
                ><img
                  alt=" "
                  src="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;Tableau_Visionaries&#47;Story1&#47;1_rss.png"
                  style="border: none"/></a></noscript
            ><object class="tableauViz" style="display:none;"
              ><param
                name="host_url"
                value="https%3A%2F%2Fpublic.tableau.com%2F"/>
              <param name="embed_code_version" value="3"/>
              <param name="site_root" value=""/><param
                name="name"
                value="Tableau_Visionaries&#47;Story1"/><param
                name="tabs"
                value="no"/><param name="toolbar" value="yes"/><param
                name="static_image"
                value="https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Ta&#47;Tableau_Visionaries&#47;Story1&#47;1.png"/>
              <param name="animate_transition" value="yes"/><param
                name="display_static_image"
                value="yes"/><param name="display_spinner" value="yes"/><param
                name="display_overlay"
                value="yes"/><param name="display_count" value="yes"/><param
                name="filter"
                value="publish=yes"
            /></object>
          </div>
          <script type="text/javascript">
            var divElement = document.getElementById("viz1574300699741");
            var vizElement = divElement.getElementsByTagName("object")[0];
            vizElement.style.width = "1016px";
            vizElement.style.height = "991px";
            var scriptElement = document.createElement("script");
            scriptElement.src =
              "https://public.tableau.com/javascripts/api/viz_v1.js";
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
        </div>
      </div>
    </section>

    <!-- jQuery -->
    <script src="static/js/jquery.min.js"></script>

    <!-- popper.min -->
    <script src="static/js/popper.min.js"></script>

    <!-- bootstrap -->
    <script src="static/js/bootstrap.min.js"></script>

    <!-- scrollIt -->
    <script src="static/js/scrollIt.min.js"></script>

    <!-- animated.headline -->
    <script src="static/js/animated.headline.js"></script>

    <!-- jquery.appear -->
    <script src="static/js/jquery.appear.js"></script>

    <!-- jquery.count.min -->
    <script src="static/js/jquery.count.min.js"></script>

    <!-- owl carousel -->
    <script src="static/js/owl.carousel.min.js"></script>

    <!-- jquery.magnific-popup static/js -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>

    <!-- stellar static/js -->
    <script src="static/js/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min static/js -->
    <script src="static/js/isotope.pkgd.min.js"></script>

    <!-- countdown -->
    <script src="static/js/countdown.js"></script>

    <!-- custom scripts -->
    <script src="static/js/scripts.js"></script>

    <!-- contact form scripts -->
    <script src="static/js/mailform/jquery.form.min.js"></script>
    <script src="static/js/mailform/jquery.rd-mailform.min.c.js"></script>
  </body>
</html>
