<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Metas -->
    <meta charset="utf-8" />
    <meta name="author" content="ChitrakootWeb" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="keywords" content="HTML5 Template Onepage Ashton" />
    <meta name="description" content="Ashton - One Page Portfolio" />

    <!-- Title  -->
    <title>Visionairies | Machine Learning Project</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="static/img/favicon.png" />
    <link rel="apple-touch-icon" href="static/img/apple-touch-icon-57x57.png" />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="static/img/apple-touch-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="static/img/apple-touch-icon-114x114.png"
    />

    <!-- Plugins -->
    <link rel="stylesheet" href="static/css/plugins.css" />

    <!-- Core Style static/css -->
    <link rel="stylesheet" href="static/css/style.css" />
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td,
      th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>

  <body>
    <!-- Start page loading -->
    <div id="preloader">
      <div class="row loader">
        <div class="loader-icon"></div>
      </div>
    </div>
    <!-- End page loading -->
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg border-none nav-transparent">
      <div
        class="container padding-15px-lr md-padding-15px-lr sm-padding-15px-all"
      >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="icon-bar"><i class="fas fa-bars"></i></span>
        </button>

        <!-- navbar links -->
        <div class="collapse navbar-collapse" id="navbarContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/members">Members</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/face_compare">Facial Comparison</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/face_analysis"
                >Facial Analysis</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cvatlarge">Computer Vision at Large</a>
            </li>
          </ul>
        </div>
        <!-- end navbar links -->
      </div>
    </nav>
    <!-- End Navbar  -->

    <!-- Start Contact Section -->
    <section class="contact no-padding-bottom" data-scroll-index="4">
      <div
        class="container margin-100px-bottom md-margin-70px-bottom sm-margin-50px-bottom"
      >
        <div class="row">
          <div
            class="col-12 center-col margin-70px-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center"
          >
            <h3
              class="font-weight-700 font-size32 md-font-size27 sm-font-size24 xs-font-size20 section-title"
            >
              Facial Analysis
            </h3>
            <br />
            <p class="font-size20">
              Facial Analysis uses expression recognition and provides machines
              a way of sensing emotions that can be considered one of the mostly
              used artificial intelligence and pattern analysis applications.
              What makes the communication of emotions interesting is that it
              appears as if some of these expressions of emotions (e.g., anger,
              disgust, fear, happy, sad, surprise) may be biologically
              hardwired, but are expressed the same way by all peoples of all
              cultures. In this section, we can get a complete analysis of
              facial attributes– gender / age range / whether the face appears
              to be calm, smiling, happy, is wearing glasses, etc. including
              confidence scores.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div>
              {% for item in contents %}
              <img src="{{ item }}" />
              {% endfor %}
            </div>
            <div id="screenshot" style="text-align:center;">
              <video width="100%" class="videostream" autoplay></video>
              <img id="screenshot-img" />
              <button class="capture-button btn white mfProgress">
                Capture video
              </button>
              <button id="stop-button" class="btn white mfProgress">
                Stop
              </button>
              <br /><br />
              <button
                id="screenshot-button"
                class="btn white mfProgress"
                disabled
              >
                Take screenshot
              </button>
              <a href="/face_analyzing"
                ><button type="button" class="btn white mfProgress">
                  Face Analysis
                </button></a
              >
            </div>
          </div>
          <div class="col-lg-4">
            <img src="static/img/arrow.jpg" />
            <form
              method="POST"
              action="/upload_for_analysis"
              enctyp="multipart/form-data"
            >
              <input
                id="imgtext"
                type="text"
                name="imagecode"
                style="visibility: hidden"
              />
              <input
                id="uploadimage"
                type="submit"
                value="Upload"
                style="visibility: hidden"
              />
            </form>
          </div>
          <div class="col-lg-4">
            <table style="width:100%">
              <tr>
                <th></th>
              </tr>
              {% for item in result %}
              <tr>
                <td>{{ item }}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

      <script>
        function handleError(error) {
          console.error("navigator.getUserMedia error: ", error);
        }
        const constraints = { video: true };
        (function() {
          const captureVideoButton = document.querySelector(
            "#screenshot .capture-button"
          );
          const screenshotButton = document.querySelector("#screenshot-button");
          const img = document.querySelector("#screenshot img");
          const video = document.querySelector("#screenshot video");
          let localMediaStream;
          const canvas = document.createElement("canvas");

          captureVideoButton.onclick = function() {
            navigator.mediaDevices
              .getUserMedia(constraints)
              .then(handleSuccess)
              .catch(handleError);
          };

          document.querySelector("#stop-button").onclick = function() {
            video.pause();
            localMediaStream.stop();
          };

          screenshotButton.onclick = video.onclick = function() {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext("2d").drawImage(video, 0, 0);

            // Other browsers will fall back to image/png
            img.src = canvas.toDataURL("image/jpg", 1.0);
            document.querySelector("#imgtext").setAttribute("value", img.src);
            document.querySelector("#uploadimage").click();
            // var link = document.getElementById('link');
            // link.setAttribute('download', 'imageforrecognition.jpg');
            // link.href = img.src.replace("image/jpg", "image/octet-stream");
            // link.click();
            // console.log(img.src);
          };

          function handleSuccess(stream) {
            screenshotButton.disabled = false;
            video.srcObject = stream;
          }
        })();
      </script>

      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    </section>

    <!-- popper.min
    <script src="static/js/popper.min.js"></script>

    bootstrap -->
    <!-- <script src="static/js/bootstrap.min.js"></script> -->

    <!-- scrollIt -->
    <script src="static/js/scrollIt.min.js"></script>

    <!-- animated.headline -->
    <script src="static/js/animated.headline.js"></script>

    <!-- jquery.appear -->
    <script src="static/js/jquery.appear.js"></script>

    <!-- jquery.count.min -->
    <script src="static/js/jquery.count.min.js"></script>

    <!-- owl carousel -->
    <script src="static/js/owl.carousel.min.js"></script>

    <!-- jquery.magnific-popup static/js -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>

    <!-- stellar static/js -->
    <script src="static/js/jquery.stellar.min.js"></script>

    <!-- isotope.pkgd.min static/js -->
    <script src="static/js/isotope.pkgd.min.js"></script>

    <!-- countdown -->
    <script src="static/js/countdown.js"></script>

    <!-- custom scripts -->
    <script src="static/js/scripts.js"></script>
  </body>
</html>
